{% extends 'base.html.twig' %}

{% block title %}Résultat étudiant{% endblock %}

{% block body %}


  {{ include('sidebaretudiant.html.twig') }}
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
      <header class="header header-sticky mb-4">
        <div class="container-fluid">
          <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
            <svg class="icon icon-lg">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
            </svg>
          </button><a class="header-brand d-md-none" href="#">
            <svg width="118" height="46" alt="CoreUI Logo">
              <use xlink:href="assets/brand/coreui.svg#full"></use>
            </svg></a>
        
         
        </div>
        <div class="header-divider"></div>
        <div class="container-fluid">
          <nav aria-label="breadcrumb">
            
          </nav>
        </div>
      </header>
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          <div class="car"></div>
          
         
          <div class="card mb-4">
            <div class="card-header"><strong>Etudiant</strong><span class="small ms-1">Résultat</span></div>
            <div class="card-body">
            
              <div class="example">
               
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1002">
                  <h4 align="center">Num etu {{idetudiant}}</h4>
                       </br>
                <table class="table table-striped">
        <thead>
            <tr>
                <th>Semestre</th>
                <th>Moyenne</th>
              
               
            </tr>
        </thead>
        <tbody>
        {% for moyenne in moyenneEtudiantArray %}
            <tr>
                <td>Semestre {{ moyenne.semestre }}</td>
                <td>{{ moyenne.moyennegenerale }}</td>
           
            
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    

   
     
      

   

                    
                  </div>
                </div>
              </div>
              
       
        </br></br>
        <div style="text-align: center;">
         <a class="btn btn-sm btn-danger" href="{{ path('app_accueil_logout_etudiant') }}" >Déconnexion</a>
         </div>
       </br>
      
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="vendors/simplebar/js/simplebar.min.js"></script>
    <script>
    </script>




{% endblock %}
