{{ form_start(form) }}
  
      <div class="tab-content rounded-bottom">
                      <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1000">
                        <div class="mb-3">
                          <label class="form-label" for="exampleFormControlInput1">{{ form_label(form.semestre) }}</label>
                        <div >    {{ form_widget(form.semestre) }} </div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="exampleFormControlInput1">{{ form_label(form.montantecolage, 'Montant écolage') }}</label>
                        <div >    {{ form_widget(form.montantecolage) }} </div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="exampleFormControlInput1">{{ form_label(form.nbrplacedispo, 'Place disponible') }}</label>
                        <div >    {{ form_widget(form.nbrplacedispo) }} </div>
                        </div>
                       
                       
                      </div>
    </div>
    <div style="text-align: center;">
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    <a href="{{ path('app_parametre_index') }}" class="btn btn-success" >Voir Liste</a>
    </div>
    </br>
{{ form_end(form) }}
